<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="Test">
        <classes>
            <class name="UseCosmosConnectionCRUD">
                <methods>
                    <include name="fetchSingleData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>